@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;
    --fonte-padrao: 'Inter';
}

body {
    font-family: var(--fonte-padrao);
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 25%, rgba(12, 112, 242, 0) 35.90%), #303030;
    background-repeat: no-repeat;
}

/* Menu de Navegação*/

#principal {
    width: 100%;
    height: 103px;
    border: 1px solid #000000;
    background-color: var(--preto-dnc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;
}

    #menu {
        align-items: center;
        display: flex;
        width: 40%;
        justify-content: space-around;
        margin-left: 10%;
    }

    #principal div a {
        font-size: 20px;
        font-weight:600;
        color: #ffffff;
        text-decoration: none;
    }

    #principal div a:hover {
        color:  var(--cinza-hover);
    }

    #principal button {
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;

        margin-right: 10%;
        width: 80px;
        height: 40px;
        background: var(--azul-dnc);
        border: 0px;

        background: var(--azul-dnc);
        box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);

        cursor: pointer;
    }

    /* Seção Principal do site */

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    header {
        color:#ffffff;
    }

        header h1 {
            font-weight: 800;
            font-size: 80px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        header h2 {
            font-weight: 400;
            font-size: 40px;
            text-align: center;
            margin-bottom: 190px;
        }

        header .invert {
            background-color: #000000;
            font-weight: bold;
            padding: 2px;
        }

    /* Formulario */

    form {
        color:#ffffff;
        font-weight: 600;
        font-size: 30px;
        width: 600px;
    }

        .formGrup {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        form input {
            border-radius: 10px;
            border: none;
            height: 30px;
            font-size: 16px;
            font-weight: 500;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.9);
        }

        form input::placeholder {
            color: rgba(57, 57, 57, 0.5);
            font-size: 15px;
            font-weight: 200;
        }

        form label {
            margin: 10px 0px 10px 0px;
        }

        .checkboxItens label{
            font-size: 25px;
            font-weight: 500;
        }

        .checkboxItens {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        input[type="checkbox"] {
            transform: scale(1.7);
        }

        input[type="submit"] {
            background-color: var(--azul-dnc);
            width: 100%;
            height: 56px;

            font-weight: 700;
            font-size: 20px;
            color: #ffffff;

            margin-top: 100px;
            box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);

            cursor: pointer;
        }

    /* Rodapé */
    
    footer {
        width: 100%;
        background-color: var(--azul-dnc);
    }

        footer .linha1 {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        footer ul {
            text-align: center;
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        footer nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 330px;

        }

        footer h5 {
            text-align: center;
            color: #ffffff;
            font-weight: 600;
            font-size: 25px;
            margin-bottom: 15px;

            background-color: var(--preto-dnc);
            border-radius: 10px;
            padding: 10px 15px 10px 15px;
        }

        footer ul li {
            text-align: center;
            color: #ffffff;
            font-weight: 400;
            font-size: 20px;
            margin: 20px 0px 20px 0px;
        }

        footer ul li a {
            color: #ffffff;
            text-decoration: none;
        }

        footer ul li a:hover {
            color:var(--cinza-hover)
        }

        footer .endereco {
            color: #ffffff;
            font-weight: 600;
            text-align: center;
            font-size: 20px;
            width: 22%;
        }

        footer .linha2 {
            height: 35px;
            display: flex;
            justify-content: center;
            margin: 0px;
            padding: 10px;
        }

        footer .linha2 a {
            color: #ffffff;
            text-decoration: none;
            font-weight: 400;
            font-size: 20px;
            padding: 5px;
        }

        footer .linha2 a:first-child {
            border-right: 3px solid white;
        }

        footer .linha2 a:hover {
            color:var(--cinza-hover)
        }